[submodule "GPUSeed/cub"]
	path = GPUSeed/cub
	url = https://github.com/NVlabs/cub.git
[submodule "src/GPUSeed/cub"]
	path = src/GPUSeed/cub
	url = https://github.com/NVlabs/cub.git
[submodule "GASAL2"]
	path = GASAL2
	url = https://github.com/j-levy/GASAL2.git
