bwa-gasal2
*.o
*.cuo
*.cppo
*.out
*.txt
*.tsv
*.a
*.txt
*.log
*.fq
*.fq.*
*.fasta
*.fasta.*
*.fa
*.fa.*
*.sam
*.qdrep
*.sqlite
lib/*
obj/*
include/*
src/GPUSeed/include/*
src/GPUSeed/libs/*
src/GPUSeed/objs/*
